/* line 1, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat {
  min-width: 980px;
  height: 100%;
}
/* line 4, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-side {
  float: left;
  width: 300px;
  height: 100%;
  background-color: #2f3e51;
}
/* line 9, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-side .chat-user {
  height: 60px;
  padding: 20px;
  color: #fff;
  background-color: #253141;
}
/* line 14, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-side .chat-user h5 {
  float: left;
  line-height: 60px;
  letter-spacing: 2px;
  font-size: 16px;
}
/* line 20, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-side .chat-user .chat-user_actions {
  float: right;
}
/* line 22, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-side .chat-user .chat-user_actions .chat-user_action {
  display: inline-block;
  margin: 15px 0 15px 3px;
  line-height: 28px;
  color: #fff;
  font-size: 20px;
}
/* line 31, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-side .chat-groups {
  margin: 0;
  padding: 0;
  color: #fff;
  list-style: none;
}
/* line 36, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-side .chat-groups .chat-group__link {
  display: block;
  padding: 20px 20px;
  color: #fff;
}
/* line 41, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-side .chat-groups .chat-group__name {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 5px;
}
/* line 46, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-side .chat-groups .chat-group__message {
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 54, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-main {
  float: left;
  position: relative;
  width: calc(100% - 300px);
  height: 100%;
}
/* line 59, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-main .chat-header {
  padding-right: 40px;
  padding-left: 40px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
/* line 64, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-main .chat-header h2 {
  margin-top: 20px;
  line-height: 50px;
  letter-spacing: 2px;
  color: #333;
  font-size: 20px;
  font-weight: 400;
}
/* line 72, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-main .chat-header .chat-header--left {
  float: left;
}
/* line 74, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-main .chat-header .chat-header--left .chat-header__users {
  line-height: 20px;
  color: #999;
  font-size: 12px;
}
/* line 78, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-main .chat-header .chat-header--left .chat-header__users .chat-header__user {
  margin-left: 3px;
}
/* line 83, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-main .chat-header .chat-header--right {
  float: right;
}
/* line 85, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-main .chat-header .chat-header--right .chat-header__edit-btn {
  display: inline-block;
  margin: 28px 0;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 40px;
  color: #38aef0;
  font-size: 14px;
  border: 2px solid;
}
/* line 97, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-main .chat-body {
  position: relative;
  padding: 30px 0;
  height: calc(100% - 190px);
  overflow-y: scroll;
}
/* line 102, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-main .chat-body .chat-messages {
  position: absolute;
  right: 40px;
  left: 40px;
  padding: 0;
  list-style: none;
}
/* line 108, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-main .chat-body .chat-messages .chat-message {
  margin-bottom: 40px;
}
/* line 110, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-main .chat-body .chat-messages .chat-message .chat-message__header {
  line-height: 20px;
}
/* line 112, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-main .chat-body .chat-messages .chat-message .chat-message__header .chat-message__name {
  float: left;
  margin-bottom: 10px;
  font-weight: 600;
}
/* line 117, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-main .chat-body .chat-messages .chat-message .chat-message__header .chat-message__time {
  float: left;
  margin-left: 10px;
  color: #aaa;
  font-size: 12px;
}
/* line 124, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-main .chat-body .chat-messages .chat-message .chat-message__body {
  font-size: 14px;
}
/* line 130, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-main .chat-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 40px;
  background-color: #ddd;
}
/* line 137, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-main .chat-footer .chat-footer__body {
  float: left;
  width: calc(100% - 115px);
  height: 50px;
  position: relative;
}
/* line 142, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-main .chat-footer .chat-footer__body input[type='text'] {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border: none;
  display: block;
}
/* line 149, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-main .chat-footer .chat-footer__body .chat-footer__file {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 40px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
/* line 159, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-main .chat-footer .chat-footer__body .chat-footer__file input {
  display: none;
}
/* line 164, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat .chat-main .chat-footer input[type='submit'] {
  float: left;
  display: inline-block;
  width: 100px;
  margin-left: 15px;
  line-height: 50px;
  color: #fff;
  background-color: #38aef0;
  text-align: center;
  border: none;
  padding: 0;
}

/* line 180, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat-group-form {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
/* line 189, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat-group-form h1 {
  letter-spacing: 2px;
  font-size: 24px;
  text-align: center;
}
/* line 195, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat-group-form .chat-group-form__errors {
  margin: 30px 0;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
}
/* line 202, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat-group-form .chat-group-form__errors h2 {
  margin-bottom: 10px;
  color: #f05050;
  font-size: 14px;
}
/* line 208, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat-group-form .chat-group-form__errors ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 214, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat-group-form .chat-group-form__errors li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}
/* line 221, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat-group-form .chat-group-form__field {
  margin-top: 30px;
}
/* line 224, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat-group-form .chat-group-form__field .chat-group-form__field--left {
  float: left;
  width: 30%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
/* line 232, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat-group-form .chat-group-form__field .chat-group-form__field--right {
  float: right;
  width: 70%;
}
/* line 237, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat-group-form .chat-group-form__field .chat-group-form__label {
  display: block;
  line-height: 50px;
  font-weight: bold;
  text-align: right;
}
/* line 244, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat-group-form .chat-group-form__field .chat-group-form__input {
  float: left;
  width: 100%;
  line-height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
}
/* line 253, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat-group-form .chat-group-user {
  padding: 0 15px;
  line-height: 50px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}
/* line 259, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat-group-form .chat-group-user .chat-group-user__name {
  float: left;
}
/* line 263, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat-group-form .chat-group-user .chat-group-user__btn {
  float: right;
  display: inline-block;
  cursor: pointer;
}
/* line 268, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat-group-form .chat-group-user .chat-group-user__btn.chat-group-user__btn--add {
  color: #38aef0;
}
/* line 272, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat-group-form .chat-group-user .chat-group-user__btn.chat-group-user__btn--remove {
  color: #f05050;
}
/* line 278, /Users/kosuke_machida/TECHCAMP/chatspace/app/assets/stylesheets/group.scss */
.chat-group-form .chat-group-form__action-btn {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  background-color: #38aef0;
  border: 0;
}
