<li class='chat-group'>
  <a class='chat-group__link' href='/chat_groups/9302/messages'>
    <p class='chat-group__name'><%= group.name %></p>
    <p class='chat-group__message'>
      <% if group.messages.blank? %>
        まだメッセージはありません。
      <% else %>
        <%= group.messages.last %>
      <% end %>
    </p>
  </a>
</li>
