@import "reset";
@import "font-awesome";

/*
 *= require font-awesome
 */

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

html, body {
  height: 100%;
  background-color: #fafafa;
  margin: 0;
}

a {
  text-decoration: none;
}
